@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {background-color: black;  
  margin: 0;
  padding: 0; width:100%;height:100%;
    font-family: 'Poppins', sans-serif;
}
canvas {
  display: block;
}

.container {  
    width:100%;height:100%;
  text-align: center;
  background-color: #2a2a2a;  
  
    
}
 
#canvasDiv {
  display: inline-block;
    margin: 2.5% 0%;
   
    
  background-color: #ccc;
  border-radius: 3px;
   
}

#TextMlamali {
     display: inline-block;
    color: #ccc;
    
}

.btn-circle {
  width: 15px;
  height: 15px;
/*  text-align: center;*/
  background-color: #f44336;
/*  font-size: 12px;*/
  
  border-radius: 15px;
    border: none;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   border-top: none;
    font-size: 78%;
   color: white;
   text-align: center;
}
